@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-4 text-danger">Bienvenue</h1>
        <p>Ceci est un exemple simple d'application de gestion de tâches des employés</p>
    </div>
</div>

